 html body{
    scroll-behavior: smooth;
    background-color: #1f2235; 
    font-family: "Montserrat";
  } 
#landing{
    background-image: url("Images/B_I.jfif");
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
.h1_land{
  font-weight: 700;
  color:#deff0a;
  font-size: 5rem;  
}
  .main-container {
    height: 100vh;
  }
  
  .main_row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main_row h1 {
    font-size: 5rem;
  }
  
  .main_row img {
    width: auto;
    height: 100vh;
  }
  .card {
    border-bottom: 8px solid #f5ba09;
       
}
.row_l{
    margin-left: 8rem;
}
.testimonial{
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover; 
    height: 50rem;
    
}
#test_h{
  text-align: center;
  font-size: 4rem;
  font-family: initial;
  color:beige;
}
#test_h2{
  color: #f5ba09;
}
#test_img{
    float: left;
    max-width: 20%;
    max-height: 25%;
    margin-right: 20px;
    border-radius: 50%;
}
#w_span {
    color: beige; 
    font-size: 40px;
    margin-right: 15px;
  }
#test_p{
  color: beige;
}
  .form{
    background-color: azure;
}
  label{
      padding-right: 4rem;
  }
footer{
    border-top: 3px solid azure;
    width: 100%;
    
}
#f_fon{
  color: azure;
  text-decoration: none ;
}
#f_fon:hover{
 color: bisque;

}
#f_img{
    max-width: 70%;
    padding-left: 35%;
}

   .isRight{
    border-left: 3px solid #51a4e7;
    padding-left: 10%;
}
   

  @media screen and (max-width: 768px) {
    .col {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .testimonial
    { image-resolution: auto;
      font-size: 1vw;
      width: 100%;
      height: auto;
      display: block;
    }
    .isRight{
      border-left: none;
    }
    .topBorder
    {
      border-top: 3px solid #51a4e7;
    }
}
